<!DOCTYPE html>
<html>
  <head>
    <title>Phlurby</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="container-fluid">
      <%= render 'layouts/side_nav_bar.html.erb' %>
      <div class="">
      <div id="alerts-container"></div>
    <div class="main_container">
      <%= yield %>
    </div>

  </body>
</html>
